@model List<ProductQuery.Models.User>

@{
    Layout = "~/Views/Admin/AdminIndex.cshtml";
}

<div class="container mt-5">
    <div class="row tm-content-row">
        <div class="col-12 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                <h2 class="tm-block-title">管理员权限分类</h2>
                <select class="custom-select" id="permissions">
                    <option value="0">一级管理员</option>
                    <option value="1">二级管理员</option>
                    <option value="2">三级管理员</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row tm-content-row">
        <div class="col-12 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
                <h2 class="tm-block-title">管理员列表</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">@Html.LabelFor(users => users[0].id)</th>
                            <th scope="col">@Html.LabelFor(users => users[0].name)</th>
                            <th scope="col">@Html.LabelFor(users => users[0].Phone)</th>
                            <th scope="col">@Html.LabelFor(users => users[0].permissions)</th>
                            <th scope="col">操作</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var user in Model)
                        {
                        <tr>
                            <th scope="row"><b>@user.id</b></th>
                            <td><b>@user.name</b></td>
                            <td><b>@user.Phone</b></td>
                            <td><b>@user.permissions</b></td>
                            <td>
                                <a href="@Url.Content("Admin/LookUser"+user.id)" class="tm-product-delete-link">
                                    <i class="far fa-eye tm-product-delete-icon"></i>
                                </a>
                                 <a href="@Url.Content("Admin/UdateUser"+user.id)" class="tm-product-delete-link">
                                    <i class="fa fa-cogs tm-product-delete-icon"></i>
                                </a>
                                <a href="@Url.Content("Admin/DeleteUser"+user.id)" class="tm-product-delete-link">
                                    <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                </a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
