@model  ProductQuery.Models.Ignition

@using ProductQuery.Controllers.IMeasurementConverters;

@using ProductQuery.Models;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width ,initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title></title>
    <link href="~/Content/jquery-ui-datepicker/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/templatemo-style.css" rel="stylesheet" />
    <script src="~/Content/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/jquery-ui-datepicker/jquery-ui.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        var id = 0;
        var image = 1;
        var changgui = 1;
        var suo = 1;
        var baosu = 1;
        var jiekoxinxi = 1;
        var zhiliudianzu = 1;
        var fahuotiaojian = 1;
        var yanqishijian = 1;
        $(function () {
            $("#expire_date").datepicker({
                defaultDate: Date.now()
            });
            $("#expire_date2").datepicker({
                defaultDate: Date.now()
            });
            $("#expire_date3").datepicker({
                defaultDate: Date.now()
            });
        });

        function PageInformation(obj) {
            if (obj == "添加信息模块") {
                document.getElementById("form").style.display = "none";
                document.getElementById("form2").style.display = "";
            }
            else {
                document.getElementById("form").style.display = "";
                document.getElementById("form2").style.display = "none";
            }
        }

        function ModuleNumber(obj) {
            if (obj == "产品示意图")
                return image;
            if (obj == "常规")
                return changgui;
            if (obj == "索普通直径")
                return suo;
            if (obj == "爆速")
                return baosu;
            if (obj == "接口信息")
                return jiekoxinxi;
            if (obj == "直流电阻")
                return zhiliudianzu;
            if (obj == "发火条件")
                return fahuotiaojian;
            if (obj == "延期时间")
                return yanqishijian;
        }

        function AddInformationModule(obj) {
            var tables = $("table#test");
            var addtr = '<tr id="' + id + '">' +
                '<td class="tm-product-name">' +
                '<ul class="navbar-nav">' +
                '<li class="nav-item">' +
                '<a class="nav-link d-block" href="#' + obj + ModuleNumber(obj) + '" onclick="PageInformation(this.name)">' + obj + ModuleNumber(obj) + '</a>' +
                '</li>' +
                '</ul>' +
                '</td>' +
                '<td class="text-center">' +
                '<a href="#" id="' + id + '" class="tm-product-delete-link" onclick="delAchieve(this.id)">' +
                '<i class="far fa-trash-alt tm-product-delete-icon"></i>' +
                '</a>' +
                '</td>' +
                '</tr>';

            $(addtr).appendTo(tables);

            GenerateTemplate(obj);
            id++;
        }

        function GenerateTemplate(obj) {
            if (obj == "常规") {
                常规(obj);
                changgui++;
            }
            if (obj == "产品示意图") {
                产品示意图(obj);
                image++;
            }
            if (obj == "索普通直径") {
                索普通直径(obj);
                suo++;
            }
            if (obj == "爆速") {
                爆速(obj);
                baosu++;
            }
            if (obj == "接口信息") {
                接口信息(obj);
                jiekoxinxi++;
            }
            if (obj == "直流电阻") {
                直流电阻(obj);
                zhiliudianzu++;
            }
            if (obj == "发火条件") {
                发火条件(obj);
                fahuotiaojian++;
            }
            if (obj == "延期时间") {
                延期时间(obj);
                yanqishijian++;
            }
        }

        function 产品示意图(obj) {
            var tables = $("form#form");
            var addtr =
                '<div class="form-group col-lg-12" id="' + obj + ModuleNumber(obj) + '">' +
                '<h1 class="tm-site-title mb-0">' + obj + ModuleNumber(obj) + '</h1>' +
                '</div>' +
                '<div class="col-12">'+
                    '<div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">'+
                        '<div class="tm-product-img-dummy mx-auto">'+
                            '<i class="fas fa-cloud-upload-alt tm-upload-icon"></i>'+
                        '</div>'+
                        '<div class="custom-file mt-3 mb-3">'+
                            '<input id="fileInput" type="file" style="display:none;" />'+
                        '</div>'+
                    '</div>'+
                '</div>';
            $(addtr).appendTo(tables);
        }

        function 常规(obj) {
            var tables = $("form#form");
            var addtr =
                '<a class="row" id="' + id + '">' +
                '<div class="form-group col-lg-12" id="' + obj + ModuleNumber(obj) + '">' +
                '<h1 class="tm-site-title mb-0">' + obj + ModuleNumber(obj) + '</h1>' +
                '</div>' +
                '<div class="form-group col-lg-6">' +
                '<label for="尺寸名称">尺寸名称</label>' +
                '@Html.TextBoxFor(m => m.Conventionals, new { @class = "form-control validate", type = "tle" })' +
                '</div>' +
                '<div class="form-group col-lg-6">' +
                '<label for="直径">直径</label>' +
                '<label for="danwei">(mm)</label>' +
                '@Html.TextBoxFor(m => m.Conventionals, new { @class = "form-control validate", type = "tle" })' +
                '</div>' +
                '<div class="form-group col-lg-6">' +
                '<label for="长度">长度</label>' +
                '<label for="danwei">(mm)</label>' +
                '@Html.TextBoxFor(m => m.Conventionals, new { @class = "form-control validate", type = "tle" })' +
                '</div>' +
                '<div class="form-group col-lg-6">' +
                '<label for="高度">高度 </label>' +
                '<label for="danwei">(mm)</label>' +
                '@Html.TextBoxFor(m => m.Conventionals, new { @class = "form-control validate", type = "tle" })' +
                '</div>' +
                '</a>';
            $(addtr).appendTo(tables);
        }

        function 索普通直径(obj) {
            var tables = $("form#form");
            var addtr =
                '<a class="row" id="' + id + '">' +
                '<div class="form-group col-lg-12" id="' + obj + ModuleNumber(obj) + '">' +
                '<h1 class="tm-site-title mb-0">' + obj + ModuleNumber(obj) + '</h1>' +
                '</div>' +
                '<div class="form-group col-lg-6">' +
                '<label for="索普通直径">索普通直径 </label>' +
                '<label for="danwei">(mm)</label>' +
                '@Html.TextBoxFor(m => m.CableDiameters, new { @class = "form-control validate", type = "tle" })' +
                '</div>' +
                '</a>';
            $(addtr).appendTo(tables);
        }

        function 爆速(obj) {
            var tables = $("form#form");
            var addtr =
                '<a class="row" id="' + id + '">' +
                '<div class="form-group col-lg-12" id="' + obj + ModuleNumber(obj) + '">' +
                '<h1 class="tm-site-title mb-0">' + obj + ModuleNumber(obj) + '</h1>' +
                '</div>' +
                '<div class="form-group col-lg-6">' +
                '<label for="爆速上限">爆速上限 </label>' +
                '<label for="danwei">(m/s)</label>' +
                '@Html.TextBoxFor(m => m.SpeedDetonations, new { @class = "form-control validate", type = "tle" })' +
                '</div>' +
                '<div class="form-group col-lg-6">' +
                '<label for="爆速下限">爆速下限 </label>' +
                '<label for="danwei">(m/s)</label>' +
                '@Html.TextBoxFor(m => m.SpeedDetonations, new { @class = "form-control validate", type = "tle" })' +
                '</div>' +
                '<div class="form-group col-lg-6">' +
                '<label for="爆速备注">爆速备注</label>' +
                '@Html.TextBoxFor(m => m.SpeedDetonations, new { @class = "form-control validate", type = "tle" })' +
                '</div>' +
                '</a>';
            $(addtr).appendTo(tables);
        }

        function 接口信息(obj) {
            var tables = $("form#form");
            var addtr =
                '<a class="row" id="' + id + '">' +
                '<div class="form-group col-lg-12" id="' + obj + ModuleNumber(obj) + '">' +
                '<h1 class="tm-site-title mb-0">' + obj + ModuleNumber(obj) + '</h1>' +
                '</div>' +
                '<div class="form-group col-lg-6">' +
                '<label for="螺纹">螺纹 </label>' +
                '<label for="danwei">(mm)</label>' +
                '@Html.TextBoxFor(m => m.InterfaceInformations, new { @class = "form-control validate", type = "tle" })' +
                '</div>' +
                '<div class="form-group col-lg-6">' +
                '<label for="螺距">螺距 </label>' +
                '<label for="danwei">(mm)</label>' +
                '@Html.TextBoxFor(m => m.InterfaceInformations, new { @class = "form-control validate", type = "tle" })' +
                '</div>' +
                '<div class="form-group col-lg-6">' +
                '<label for="公差">公差 </label>' +
                '@Html.TextBoxFor(m => m.InterfaceInformations, new { @class = "form-control validate", type = "tle" })' +
                '</div>' +
                '<div class="form-group col-lg-6">' +
                '<label for="长度">长度 </label>' +
                '<label for="danwei">(mm)</label>' +
                '@Html.TextBoxFor(m => m.InterfaceInformations, new { @class = "form-control validate", type = "tle" })' +
                '</div>' +
                '<div class="form-group col-lg-6">' +
                '<label for="接口信息备注">接口信息备注</label>' +
                '@Html.TextBoxFor(m => m.InterfaceInformations, new { @class = "form-control validate", type = "tle" })' +
                '</div>' +
                '</a>';
            $(addtr).appendTo(tables);
        }

        function 直流电阻(obj) {
            var tables = $("form#form");
            var addtr =
                '<a class="row" id="' + id + '">' +
                '<div class="form-group col-lg-12" id="' + obj + ModuleNumber(obj) + '">' +
                '<h1 class="tm-site-title mb-0">' + obj + ModuleNumber(obj) + '</h1>' +
                '</div>' +
                '<div class="form-group col-lg-6">' +
                '<label for="桥个数">桥个数 </label>' +
                '@Html.TextBoxFor(m => m.InterfaceInformations, new { @class = "form-control validate", type = "tle" })' +
                '</div>' +
                '<div class="form-group col-lg-4">' +
                '<label for="电阻范围值上">电阻范围值上 </label>' +
                '@Html.TextBoxFor(m => m.InterfaceInformations, new { @class = "form-control validate", type = "tle" })' +
                '</div>' +
                '<div class="form-group col-lg-2">' +
                '<label for="danwei">单位</label>' +
                '<select class="custom-select">' +
                '<option>mΩ</option>' +
                '<option>Ω</option>' +
                '<option>kΩ</option>' +
                '<option>MΩ</option>' +
                '</select>' +
                '</div>' +
                '<div class="form-group col-lg-4">' +
                '<label for="电阻范围值下">电阻范围值下 </label>' +
                '@Html.TextBoxFor(m => m.InterfaceInformations, new { @class = "form-control validate", type = "tle" })' +
                '</div>' +
                '<div class="form-group col-lg-2">' +
                '<label for="danwei">单位</label>' +
                '<select class="custom-select">' +
                '<option>mΩ</option>' +
                '<option>Ω</option>' +
                '<option>kΩ</option>' +
                '<option>MΩ</option>' +
                '</select>' +
                '</div>' +
                '<div class="form-group col-lg-4">' +
                '<label for="电阻小于值">电阻小于值 </label>' +
                '@Html.TextBoxFor(m => m.InterfaceInformations, new { @class = "form-control validate", type = "tle" })' +
                '</div>' +
                '<div class="form-group col-lg-2">' +
                '<label for="danwei">单位</label>' +
                '<select class="custom-select">' +
                '<option>mΩ</option>' +
                '<option>Ω</option>' +
                '<option>kΩ</option>' +
                '<option>MΩ</option>' +
                '</select>' +
                '</div>' +
                '<div class="form-group col-lg-6">' +
                '<label for="电阻备注">电阻备注</label>' +
                '@Html.TextBoxFor(m => m.InterfaceInformations, new { @class = "form-control validate", type = "tle" })' +
                '</div>' +
                '</a>';
            $(addtr).appendTo(tables);
        }

        function 发火条件(obj) {
            var tables = $("form#form");
            var addtr =
                '<a class="row" id="' + id + '">' +
                '<div class="form-group col-lg-12" id="' + obj + ModuleNumber(obj) + '">' +
                '<h1 class="tm-site-title mb-0">' + obj + ModuleNumber(obj) + '</h1>' +
                '</div>' +
                '<div class="form-group col-lg-12">' +
                '<h2 class="tm-site-title mb-0">桥个数</h2>' +
                '</div>' +
                '<div class="form-group col-lg-6">' +
                '<label for="桥个数">桥个数</label>' +
                '@Html.TextBoxFor(m => m.InterfaceInformations, new { @class = "form-control validate", type = "tle" })' +
                '</div>' +
                '<div class="form-group col-lg-12">' +
                '<h2 class="tm-site-title mb-0">电压发火</h2>' +
                '</div>' +
                '<div class="form-group col-lg-6">' +
                '<label for="发火电压">发火电压</label>' +
                '<label for="danwei">(V)</label>' +
                '@Html.TextBoxFor(m => m.InterfaceInformations, new { @class = "form-control validate", type = "tle" })' +
                '</div>' +
                '<div class="form-group col-lg-6">' +
                '<label for="发火电压上限">发火电压上限</label>' +
                '<label for="danwei">(V)</label>' +
                '@Html.TextBoxFor(m => m.InterfaceInformations, new { @class = "form-control validate", type = "tle" })' +
                '</div>' +
                '<div class="form-group col-lg-6">' +
                '<label for="发火电压下限">发火电压下限</label>' +
                '<label for="danwei">(V)</label>' +
                '@Html.TextBoxFor(m => m.InterfaceInformations, new { @class = "form-control validate", type = "tle" })' +
                '</div>' +
                '<div class="form-group col-lg-4">' +
                '<label for="发火电容">发火电容</label>' +
                '@Html.TextBoxFor(m => m.InterfaceInformations, new { @class = "form-control validate", type = "tle" })' +
                '</div>' +
                '<div class="form-group col-lg-2">' +
                '<label for="danwei">单位</label>' +
                '<select class="custom-select">' +
                '<option>μf</option>' +
                '<option>pf</option>' +
                '</select>' +
                '</div>' +
                '<div class="form-group col-lg-6">' +
                '<label for="电压发火备注">电压发火备注</label>' +
                '@Html.TextBoxFor(m => m.InterfaceInformations, new { @class = "form-control validate", type = "tle" })' +
                '</div>' +
                '<div class="form-group col-lg-12">' +
                '<h2 class="tm-site-title mb-0">电流发火</h2>' +
                '</div>' +
                '<div class="form-group col-lg-4">' +
                '<label for="发火电流">发火电流</label>' +
                '@Html.TextBoxFor(m => m.InterfaceInformations, new { @class = "form-control validate", type = "tle" })' +
                '</div>' +
                '<div class="form-group col-lg-2">' +
                '<label for="danwei">单位</label>' +
                '<select class="custom-select">' +
                '<option>A</option>' +
                '<option>mA</option>' +
                '</select>' +
                '</div>' +
                '<div class="form-group col-lg-4">' +
                '<label for="发火电流上限">发火电流上限</label>' +
                '@Html.TextBoxFor(m => m.InterfaceInformations, new { @class = "form-control validate", type = "tle" })' +
                '</div>' +
                '<div class="form-group col-lg-2">' +
                '<label for="danwei">单位</label>' +
                '<select class="custom-select">' +
                '<option>A</option>' +
                '<option>mA</option>' +
                '</select>' +
                '</div>' +
                '<div class="form-group col-lg-4">' +
                '<label for="发火电流下限">发火电流下限</label>' +
                '@Html.TextBoxFor(m => m.InterfaceInformations, new { @class = "form-control validate", type = "tle" })' +
                '</div>' +
                '<div class="form-group col-lg-2">' +
                '<label for="danwei">单位</label>' +
                '<select class="custom-select">' +
                '<option>A</option>' +
                '<option>mA</option>' +
                '</select>' +
                '</div>' +
                '<div class="form-group col-lg-4">' +
                '<label for="发火电流时间">发火电流时间</label>' +
                '@Html.TextBoxFor(m => m.InterfaceInformations, new { @class = "form-control validate", type = "tle" })' +
                '</div>' +
                '<div class="form-group col-lg-2">' +
                '<label for="danwei">单位</label>' +
                '<select class="custom-select">' +
                '<option>ms</option>' +
                '<option>min</option>' +
                '</select>' +
                '</div>' +
                '<div class="form-group col-lg-6">' +
                '<label for="电流发火备注">电流发火备注</label>' +
                '@Html.TextBoxFor(m => m.InterfaceInformations, new { @class = "form-control validate", type = "tle" })' +
                '</div>' +
                '<div class="form-group col-lg-12">' +
                '<h2 class="tm-site-title mb-0">机械发火</h2>' +
                '</div>' +
                '<div class="form-group col-lg-4">' +
                '<label for="锤重">锤重</label>' +
                '@Html.TextBoxFor(m => m.InterfaceInformations, new { @class = "form-control validate", type = "tle" })' +
                '</div>' +
                '<div class="form-group col-lg-2">' +
                '<label for="danwei">单位</label>' +
                '<select class="custom-select">' +
                '<option>kg</option>' +
                '<option>g</option>' +
                '</select>' +
                '</div>' +
                '<div class="form-group col-lg-4">' +
                '<label for="落高">落高</label>' +
                '@Html.TextBoxFor(m => m.InterfaceInformations, new { @class = "form-control validate", type = "tle" })' +
                '</div>' +
                '<div class="form-group col-lg-2">' +
                '<label for="danwei">单位</label>' +
                '<select class="custom-select">' +
                '<option>m</option>' +
                '<option>cm</option>' +
                '<option>mm</option>' +
                '</select>' +
                '</div>' +
                '<div class="form-group col-lg-6">' +
                '<label for="击针刺激量">击针刺激量</label>' +
                '<label for="danwei">(g•cm)</label>' +
                '@Html.TextBoxFor(m => m.InterfaceInformations, new { @class = "form-control validate", type = "tle" })' +
                '</div>' +
                '<div class="form-group col-lg-6">' +
                '<label for="击针力上限">击针力上限</label>' +
                '<label for="danwei">(N)</label>' +
                '@Html.TextBoxFor(m => m.InterfaceInformations, new { @class = "form-control validate", type = "tle" })' +
                '</div>' +
                '<div class="form-group col-lg-6">' +
                '<label for="击针力下限">击针力下限</label>' +
                '<label for="danwei">(N)</label>' +
                '@Html.TextBoxFor(m => m.InterfaceInformations, new { @class = "form-control validate", type = "tle" })' +
                '</div>' +
                '<div class="form-group col-lg-6">' +
                '<label for="击针突出量上限">击针突出量上限</label>' +
                '<label for="danwei">(mm)</label>' +
                '@Html.TextBoxFor(m => m.InterfaceInformations, new { @class = "form-control validate", type = "tle" })' +
                '</div>' +
                '<div class="form-group col-lg-6">' +
                '<label for="击针突出量下限">击针突出量下限</label>' +
                '<label for="danwei">(mm)</label>' +
                '@Html.TextBoxFor(m => m.InterfaceInformations, new { @class = "form-control validate", type = "tle" })' +
                '</div>' +
                '<div class="form-group col-lg-6">' +
                '<label for="弹簧高度">弹簧高度</label>' +
                '<label for="danwei">(mm)</label>' +
                '@Html.TextBoxFor(m => m.InterfaceInformations, new { @class = "form-control validate", type = "tle" })' +
                '</div>' +
                '<div class="form-group col-lg-6">' +
                '<label for="抗力">抗力</label>' +
                '<label for="danwei">(N)</label>' +
                '@Html.TextBoxFor(m => m.InterfaceInformations, new { @class = "form-control validate", type = "tle" })' +
                '</div>' +
                '<div class="form-group col-lg-6">' +
                '<label for="机械发火备注">机械发火备注</label>' +
                '@Html.TextBoxFor(m => m.InterfaceInformations, new { @class = "form-control validate", type = "tle" })' +
                '</div>' +
                '<div class="form-group col-lg-12">' +
                '<h2 class="tm-site-title mb-0">发火能量</h2>' +
                '</div>' +
                '<div class="form-group col-lg-4">' +
                '<label for="能量">能量</label>' +
                '@Html.TextBoxFor(m => m.InterfaceInformations, new { @class = "form-control validate", type = "tle" })' +
                '</div>' +
                '<div class="form-group col-lg-2">' +
                '<label for="danwei">单位</label>' +
                '<select class="custom-select">' +
                '<option>J</option>' +
                '<option>mJ</option>' +
                '</select>' +
                '</div>' +
                '</a>';
            $(addtr).appendTo(tables);
        }

        function 延期时间(obj) {
            var tables = $("form#form");
            var addtr =
                '<a class="row " id="' + id + '">' +
                '<div class="form-group col-lg-12" id="' + obj + ModuleNumber(obj) + '">' +
                '<h1 class="tm-site-title mb-0">' + obj + ModuleNumber(obj) + '</h1>' +
                '</div>' +
                '<div class="form-group col-lg-6">' +
                '<label for="phone">温度条件 </label>' +
                '<label for="phone">(摄氏度) </label>' +
                '@Html.TextBoxFor(m => m.InterfaceInformations, new { @class = "form-control validate", type = "tle" })' +
                '</div>' +
                '<div class="form-group col-lg-4">' +
                '<label for="phone">延期时间上限 </label>' +
                '@Html.TextBoxFor(m => m.InterfaceInformations, new { @class = "form-control validate", type = "tle" })' +
                '</div>' +
                '<div class="form-group col-lg-2">' +
                '<label for="phone">单位</label>' +
                '<select class="custom-select">' +
                '<option>ms</option>' +
                '<option>s</option>' +
                '</select>' +
                '</div>' +
                '<div class="form-group col-lg-4">' +
                '<label for="phone">延期时间下限 </label>' +
                '@Html.TextBoxFor(m => m.InterfaceInformations, new { @class = "form-control validate", type = "tle" })' +
                '</div>' +
                '<div class="form-group col-lg-2">' +
                '<label for="phone">单位</label>' +
                '<select class="custom-select">' +
                '<option>ms</option>' +
                '<option>s</option>' +
                '</select>' +
                '</div>' +
                '<div class="form-group col-lg-4">' +
                '<label for="phone">延期时间值 </label>' +
                '@Html.TextBoxFor(m => m.InterfaceInformations, new { @class = "form-control validate", type = "tle" })' +
                '</div>' +
                '<div class="form-group col-lg-2">' +
                '<label for="phone">单位</label>' +
                '<select class="custom-select">' +
                '<option>ms</option>' +
                '<option>s</option>' +
                '</select>' +
                '</div>' +
                '<div class="form-group col-lg-6">' +
                '<label for="phone">延期时间备注</label>' +
                '@Html.TextBoxFor(m => m.InterfaceInformations, new { @class = "form-control validate", type = "tle" })' +
                '</div>' +
                '</a>';
            $(addtr).appendTo(tables);
        }

        function delAchieve(obj) {
            $("table#test #" + obj + "").remove();
            $("form#form #" + obj + "").remove();
        }

        function FormSubmission() {
            document.getElementById("form").submit();
        }
    </script>
</head>
<body>
    <div class="col-md-12">
        <nav class="navbar navbar-expand-xl">
            <div class="container h-100">
                <h1 class="tm-site-title mb-0">火工品添加</h1>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link d-block" href="#">
                            退出
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="row">
            <div class="col-md-2 form-control container tm-mt-big tm-bg-primary-dark tm-block tm-block-h-auto" style="margin-left:20%;height:10%">
                <div>
                    <h2 class="tm-block-title">信息模块</h2>
                    <div class="tm-product-table-container">
                        <table class="table tm-table-small tm-product-table" id="test">
                            <tbody>
                                <tr>
                                    <td class="tm-product-name">
                                        <ul class="navbar-nav">
                                            <li class="nav-item">
                                                <a class="nav-link d-block" href="#主页信息" name="主页信息" onclick="PageInformation(this.id)">
                                                    主页信息
                                                </a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <button class="btn btn-primary btn-block text-uppercase mb-3" name="添加信息模块" id="添加信息模块" onclick="PageInformation(this.id)">
                        添加信息模块
                    </button>
                </div>
            </div>
            <div class=" form-control container tm-mt-big tm-bg-primary-dark tm-block tm-block-h-auto" style="margin-right:20%;overflow-y:scroll;overflow-x:hidden;height:640px;width:42%">
                @using (Html.BeginForm("AddInformation", "Add", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "tm-signup-form row", id = "form", name = "基本信息" }))
                {

                    <a class="row ">
                        <div class="form-group col-lg-12" id="主页信息">
                            <h1 class="tm-site-title mb-0">基本信息</h1>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="类别">类别</label>
                            @Html.TextBoxFor(m => m.lb, new { @class = "form-control validate", type = "tle" })
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="产品名称">产品名称</label>
                            @Html.TextBoxFor(m => m.scmc, new { @class = "form-control validate", type = "tle" })
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="设计单位">设计单位</label>
                            @Html.TextBoxFor(m => m.sjdw, new { @class = "form-control validate", type = "tle" })
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="生产单位">生产单位</label>
                            @Html.TextBoxFor(m => m.scdw, new { @class = "form-control validate", type = "tle" })
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="型号">型号</label>
                            @Html.TextBoxFor(m => m.xh, new { @class = "form-control validate", type = "tle" })
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="图号">图号</label>
                            @Html.TextBoxFor(m => m.th, new { @class = "form-control validate", type = "tle" })
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="代号">代号</label>
                            @Html.TextBoxFor(m => m.dh, new { @class = "form-control validate", type = "tle" })
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="研制日期">研制日期</label>
                            @Html.TextBoxFor(m => m.yzrq, new { @class = "form-control validate", type = "text", id = "expire_date" })
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="设计定型日期">设计定型日期</label>
                            @Html.TextBoxFor(m => m.dxrq, new { @class = "form-control validate", type = "text", id = "expire_date2" })
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="生产定型日期">生产定型日期</label>
                            @Html.TextBoxFor(m => m.gydx, new { @class = "form-control validate", type = "text", id = "expire_date3" })
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="用途">用途</label>
                            @Html.TextBoxFor(m => m.yt, new { @class = "form-control validate", type = "tle" })
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="系统组成">系统组成</label>
                            @Html.TextBoxFor(m => m.xtzc, new { @class = "form-control validate", type = "tle" })
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="目前阶段">目前阶段</label>
                            @Html.TextBoxFor(m => m.mqjd, new { @class = "form-control validate", type = "tle" })
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="机械性能">机械性能</label>
                            @Html.TextBoxFor(m => m.jxxn, new { @class = "form-control validate", type = "tle" })
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="电性能">电性能</label>
                            @Html.TextBoxFor(m => m.dxn, new { @class = "form-control validate", type = "tle" })
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="功能">功能</label>
                            @Html.TextBoxFor(m => m.gn, new { @class = "form-control validate", type = "tle" })
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="环境试验">环境试验</label>
                            @Html.TextBoxFor(m => m.hjcs, new { @class = "form-control validate", type = "tle" })
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="桥丝数目">桥丝数目</label>
                            @Html.TextBoxFor(m => m.jssm, new { @class = "form-control validate", type = "tle" })
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="贮存寿命">贮存寿命</label>
                            <label for="单位">(年)</label>
                            @Html.TextBoxFor(m => m.ccsm, new { @class = "form-control validate", type = "tle" })
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="贮存寿命备注">贮存寿命备注</label>
                            @Html.TextAreaFor(m => m.ccsmbz, new { @class = "form-control validate tm-small", rows = "1" })
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="可靠度">可靠度</label>
                            @Html.TextBoxFor(m => m.kkd, new { @class = "form-control validate", type = "tle" })
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="主要性能指标">主要性能指标</label>
                            @Html.TextBoxFor(m => m.zyxnzb, new { @class = "form-control validate", type = "tle" })
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="试验环境指标范围">试验环境指标范围</label>
                            @Html.TextBoxFor(m => m.syhjzsfw, new { @class = "form-control validate", type = "tle" })
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="基本性能">基本性能</label>
                            @Html.TextBoxFor(m => m.jbxn, new { @class = "form-control validate", type = "tle" })
                        </div>
                        <div class="form-group col-lg-12">
                            <h2 class="tm-site-title mb-0">常规</h2>
                            <label for="danwei">（单位：mm）</label>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="宽度">宽度</label>
                            @Html.TextBoxFor(m => m.kd, new { @class = "form-control validate", type = "tle" })
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="脚线">脚线</label>
                            @Html.TextBoxFor(m => m.jx, new { @class = "form-control validate", type = "tle" })
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="总长度">总长度</label>
                            @Html.TextBoxFor(m => m.zcd, new { @class = "form-control validate", type = "tle" })
                        </div>
                        <div class="form-group col-lg-12">
                            <h2 class="tm-site-title mb-0">隔板厚度</h2>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="隔板厚度">隔板厚度</label>
                            @Html.TextBoxFor(m => m.gbhd, new { @class = "form-control validate", type = "tle" })
                        </div>
                        <div class="form-group col-lg-12">
                            <h2 class="tm-site-title mb-0">索</h2>
                            <label for="danwei">（单位：mm）</label>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="索直径上限">索直径上限</label>
                            @Html.TextBoxFor(m => m.szjsx, new { @class = "form-control validate", type = "tle" })
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="索直径下限">索直径下限</label>
                            @Html.TextBoxFor(m => m.szjxx, new { @class = "form-control validate", type = "tle" })
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="索MDF（银质）直径">索MDF（银质）直径</label>
                            @Html.TextBoxFor(m => m.sMDFyzzj, new { @class = "form-control validate", type = "tle" })
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="索备注">索备注</label>
                            @Html.TextAreaFor(m => m.sbz, new { @class = "form-control validate tm-small", rows = "1" })
                        </div>
                        <div class="form-group col-lg-12">
                            <h2 class="tm-site-title mb-0">六方对角</h2>
                            <label for="danwei">（单位：mm）</label>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="对边">对边</label>
                            @Html.TextBoxFor(m => m.db, new { @class = "form-control validate", type = "tle" })
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="对角线">对角线</label>
                            @Html.TextBoxFor(m => m.djx, new { @class = "form-control validate", type = "tle" })
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="六方对角备注">六方对角备注</label>
                            @Html.TextAreaFor(m => m.lfdjbz, new { @class = "form-control validate tm-small", rows = "1" })
                        </div>
                        <div class="form-group col-lg-12">
                            <h2 class="tm-site-title mb-0">检测电流</h2>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="检测电流">检测电流</label>
                            <label for="danwei">(mA)</label>
                            @Html.TextBoxFor(m => m.jcdl, new { @class = "form-control validate", type = "tle" })
                        </div>
                        <div class="form-group col-lg-12">
                            <h2 class="tm-site-title mb-0">静电感度</h2>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="静电电容">静电电容</label>
                            <label for="danwei">(pf)</label>
                            @Html.TextBoxFor(m => m.jddr, new { @class = "form-control validate", type = "tle" })
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="静电电压">静电电压</label>
                            <label for="danwei">(V)</label>
                            @Html.TextBoxFor(m => m.jddy, new { @class = "form-control validate", type = "tle" })
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="串联电阻">串联电阻</label>
                            <label for="danwei">(Ω)</label>
                            @Html.TextBoxFor(m => m.cldz, new { @class = "form-control validate", type = "tle" })
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="静电感度备注">静电感度备注</label>
                            @Html.TextAreaFor(m => m.jdgdbz, new { @class = "form-control validate tm-small", rows = "1" })
                        </div>
                        <div class="form-group col-lg-12">
                            <h2 class="tm-site-title mb-0">作用时间瞬发度</h2>
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="作用时间">作用时间</label>
                            @Html.TextBoxFor(m => m.zysj, new { @class = "form-control validate", type = "tle" })
                        </div>
                        <div class="form-group col-lg-2">
                            <label for="danwei">单位</label>
                            @Html.DropDownListFor(m => m.dw, ViewBag.TimeList as SelectList, new { @class = "custom-select"})

                            @{
                                IMeasurementConverter measurementConverter = new Time("");
                                Ignition ignition = new Ignition();
                                ignition.zysj = measurementConverter.ToStandardValue(ignition.zysj);
                            }
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="作用时间上限">作用时间上限</label>
                            @Html.TextBoxFor(m => m.zysjsx, new { @class = "form-control validate", type = "tle" })
                        </div>
                        <div class="form-group col-lg-2">
                            <label for="danwei">单位</label>
                            <select class="custom-select" id="select2">
                                <option>ns</option>
                                <option>μs</option>
                                <option>ms</option>
                                <option>s</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="作用时间下限">作用时间下限</label>

                            @Html.TextBoxFor(m => m.zysjxx, new { @class = "form-control validate", type = "tle" })
                        </div>
                        <div class="form-group col-lg-2">
                            <label for="danwei">单位</label>
                            <select class="custom-select" id="select3">
                                <option>ns</option>
                                <option>μs</option>
                                <option>ms</option>
                                <option>s</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="作用时间备注">作用时间备注</label>
                            @Html.TextAreaFor(m => m.zysjbz, new { @class = "form-control validate tm-small", rows = "1" })
                        </div>
                        <div class="form-group col-lg-12">
                            <h2 class="tm-site-title mb-0">安全电流</h2>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="桥个数">桥个数</label>
                            @Html.TextBoxFor(m => m.jgs, new { @class = "form-control validate", type = "tle" })
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="安全电流值">安全电流值</label>
                            @Html.TextBoxFor(m => m.aydlz, new { @class = "form-control validate", type = "tle" })
                        </div>
                        <div class="form-group col-lg-2">
                            <label for="danwei">单位</label>
                            <select class="custom-select" id="select4">
                                <option>mA</option>
                                <option>A</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="安全电流值上限">安全电流值上限</label>
                            @Html.TextBoxFor(m => m.aydlzsx, new { @class = "form-control validate", type = "tle" })
                        </div>
                        <div class="form-group col-lg-2">
                            <label for="danwei">单位</label>
                            <select class="custom-select" id="select5">
                                <option>mA</option>
                                <option>A</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="安全电流值下限">安全电流值下限</label>
                            @Html.TextBoxFor(m => m.aydlzxx, new { @class = "form-control validate", type = "tle" })
                        </div>
                        <div class="form-group col-lg-2">
                            <label for="danwei">单位</label>
                            <select class="custom-select">
                                <option>mA</option>
                                <option>A</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="时间值">时间值</label>
                            @Html.TextBoxFor(m => m.ssj, new { @class = "form-control validate", type = "tle" })
                        </div>
                        <div class="form-group col-lg-2">
                            <label for="danwei">单位</label>
                            <select class="custom-select" id="select6">
                                <option>min</option>
                                <option>s</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="功率值">功率值</label>
                            <label for="danwei">(W)</label>
                            @Html.TextBoxFor(m => m.glz, new { @class = "form-control validate", type = "tle" })
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="安全电流备注">安全电流备注</label>
                            @Html.TextAreaFor(m => m.aqdlbz, new { @class = "form-control validate tm-small", rows = "1" })
                        </div>
                        <div class="form-group col-lg-12">
                            <h2 class="tm-site-title mb-0">安全电压</h2>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="安全电压电压">安全电压电压</label>
                            <label for="danwei">(V)</label>
                            @Html.TextBoxFor(m => m.aqdydy, new { @class = "form-control validate", type = "tle" })
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="安全电压电容">安全电压电容</label>
                            <label for="danwei">(pf)</label>
                            @Html.TextBoxFor(m => m.aqdydr, new { @class = "form-control validate", type = "tle" })
                        </div>
                        <div class="form-group col-lg-12">
                            <h2 class="tm-site-title mb-0">燃烧压力</h2>
                            <label for="danwei">单位：(MPa)</label>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="燃烧压力上限">燃烧压力上限</label>
                            @Html.TextBoxFor(m => m.rsylsx, new { @class = "form-control validate", type = "tle" })
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="燃烧压力下限">燃烧压力下限</label>
                            @Html.TextBoxFor(m => m.rsylbz, new { @class = "form-control validate", type = "tle" })
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="燃烧压力备注">燃烧压力备注</label>
                            @Html.TextAreaFor(m => m.rsylbz, new { @class = "form-control validate tm-small", rows = "1" })
                        </div>
                    </a>
                }

                <form class="tm-signup-form row" style="display:none" id="form2" name="添加模块">
                    <div class="form-group col-lg-12">
                        <h1 class="tm-site-title mb-0">请选择添加的信息模块</h1>
                    </div>
                    <div class="form-group col-lg-6">
                        <input class="btn btn-primary btn-block text-uppercase" type="button" value="产品示意图" onclick="AddInformationModule(this.value)" />
                    </div>
                    <div class="form-group col-lg-6">
                        <input class="btn btn-primary btn-block text-uppercase" type="button" value="常规" onclick="AddInformationModule(this.value)" />
                    </div>
                    <div class="form-group col-lg-12">
                        <br />
                    </div>
                    <div class="form-group col-lg-6">
                        <input class="btn btn-primary btn-block text-uppercase" type="button" value="索普通直径" onclick="AddInformationModule(this.value)" />
                    </div>
                    <div class="form-group col-lg-6">
                        <input class="btn btn-primary btn-block text-uppercase" type="button" value="爆速" onclick="AddInformationModule(this.value)" />
                    </div>
                    <div class="form-group col-lg-12">
                        <br />
                    </div>
                    <div class="form-group col-lg-6">
                        <input class="btn btn-primary btn-block text-uppercase" type="button" value="接口信息" onclick="AddInformationModule(this.value)" />
                    </div>
                    <div class="form-group col-lg-6">
                        <input class="btn btn-primary btn-block text-uppercase" type="button" value="直流电阻" onclick="AddInformationModule(this.value)" />
                    </div>
                    <div class="form-group col-lg-12">
                        <br />
                    </div>
                    <div class="form-group col-lg-6">
                        <input class="btn btn-primary btn-block text-uppercase" type="button" value="发火条件" onclick="AddInformationModule(this.value)" />
                    </div>
                    <div class="form-group col-lg-6">
                        <input class="btn btn-primary btn-block text-uppercase" type="button" value="延期时间" onclick="AddInformationModule(this.value)" />
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-5 container" style="margin-right:20%;margin-top:1%">
            <button type="submit" class="btn btn-primary btn-block text-uppercase" onclick="FormSubmission()">
                提交
            </button>
        </div>
    </div>

    <footer class="tm-footer row tm-mt-small">
        <div class="col-12 font-weight-light">
            <p class="text-center text-white mb-0 px-4 small">
                Copyright &copy; <b>2018</b> All rights reserved.

                Design: <a rel="nofollow noopener" href="https://templatemo.com" class="tm-footer-link">Template Mo</a>
            </p>
        </div>
    </footer>
</body>
</html>


