@model List<ProductQuery.Models.Ignition>
@{
    Layout = "~/Views/Add/AddIndex.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width ,initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/templatemo-style.css" rel="stylesheet" />
    <link href="~/Content/css/fontawesome.min.css" rel="stylesheet" />
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/layui/layui.js"></script>
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <title></title>
    <script type="text/javascript">
        //添加
        function openAddWin() {
            //设定title内容
            var title = "<span class='glyphicon glyphicon-edit'>新增点火装置";
            var url = "AddInformation";
            var width = "100%";
            var height = "800px";
            //调用位于index页面的openWin()函数
            parent.openWin(title, url, width, height);
        }
        //修改
        function openDelectWin(ignitionid) {
            var title = "<span class='glyphicon glyphicon-edit'>修改点火装置信息";
            var url = "Ignition_delect?ignitionid=" + ignitionid;
            var width = "100%";
            var height = "800px";
            parent.openWin(title, url, width, height);
        }
        //查看
        function openSelectWin(ignitionid) {
            var title = "<span class='glyphicon glyphicon-edit'>点火装置信息查看";
            var url = "Ignition_select?ignitionid=" + ignitionid;
            var width = "100%";
            var height = "800px";
            parent.openWin(title, url, width, height);
        }
    </script>
</head>
<body>
    <div class="container mt-5">
        <div class="row tm-content-row">
            <div class="col-12 tm-block-col">
                <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                    <div class="form-inline">
                        <a class="btn btn-success btn-sm" href="javascript:openAddWin();">
                            <span class="glyphicon glyphicon-plus">添加点火装置</span>
                        </a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a class="btn btn-success btn-sm" href="javascript:openQueryWin();">
                            <span class="glyphicon glyphicon-plus">查询</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row tm-content-row">
            <div class="col-12 tm-block-col">
                <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
                    <table class="table">
                        <thead>
                            <tr>
                                <td scope="col">编号</td>
                                <td scope="col">Id</td>
                                <td scope="col">类别</td>
                                <td scope="col">产品名称</td>
                                <td scope="col">操作</td>
                            </tr>
                        </thead>
                        <tbody>
                            @{int count = 1; }
                            @foreach (var ign in Model)
                            {
                                <tr>
                                    <th>@count</th>
                                    <th>@ign.IgnitionId</th>
                                    <th>@ign.lb</th>
                                    <th>@ign.cpmc</th>
                                    <th>
                                        <a href="javascript:openSelectWin(@ign.IgnitionId)" class="tm-product-delete-link">
                                            <i class="far fa-eye tm-product-delete-icon"></i>
                                        </a>
                                        <a href="javascript:openDelectWin(@ign.IgnitionId)" class="tm-product-delete-link">
                                            <i class="fa fa-cogs tm-product-delete-icon"></i>
                                        </a>
                                        <a href="@Url.Content("~/Add/DeleteInformation?IgnitionId=" + @ign.IgnitionId)" class="tm-product-delete-link">
                                            <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                        </a>
                                    </th>
                                </tr>
                                count++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
